src/main/resources/wsdl/bpmWsdl.wsdl

<wsdl:definitions
	xmlns:impl="http://TARS/InspectionWS.tws"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:intf="http://TARS/InspectionWS.tws"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://TARS/InspectionWS.tws">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:impl="http://TARS/InspectionWS.tws"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://TARS/InspectionWS.tws">
			<element name="startProcess">
				<complexType>
					<sequence>
						<element name="inspectionRequest"
							type="impl:InspectionRequest" />
					</sequence>
				</complexType>
			</element>
			<element name="startProcessResponse">
				<complexType>
					<sequence>
						<element name="response" type="impl:Response" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ViolationInfoBO">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="violationType"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="violationCode"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="incidentZone"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="incidentAddressCoordinates" nillable="false"
						type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="violationDetails" nillable="false" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Response">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="responseCode"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="responseDescription" nillable="false" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="InspectionRequest">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="customerInfo"
						nillable="false" type="impl:CustomerInfoBO" />
					<element maxOccurs="1" minOccurs="0" name="vehicleInfo"
						nillable="false" type="impl:VehicleInfoBO" />
					<element maxOccurs="1" minOccurs="0" name="violationInfo"
						nillable="false" type="impl:ViolationInfoBO" />
				</sequence>
			</complexType>
			<complexType name="CustomerInfoBO">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="name"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="nationality"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="passportID"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="nationalID"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="emiratesID"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="contactNumber"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="address"
						nillable="false" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="VehicleInfoBO">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="brand"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="model"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="color"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="plateNum"
						nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="vehicleLicenseNum" nillable="false" type="xsd:string" />
						<element maxOccurs="1" minOccurs="0"
						name="vehicleInsuranceEnd" nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="vehicleInsuranceType" nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="vehicleInsuranceStart" nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="vehicleInsuranceCompanyName" nillable="false" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0"
						name="vehicleDateOfManufacture" nillable="false" type="xsd:string" />
						
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="startProcessResponse">
		<wsdl:part name="parameters"
			element="impl:startProcessResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="startProcessRequest">
		<wsdl:part name="parameters" element="impl:startProcess">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InspectionWSPortType">
		<wsdl:operation name="startProcess">
			<wsdl:input name="startProcessRequest"
				message="impl:startProcessRequest">
			</wsdl:input>
			<wsdl:output name="startProcessResponse"
				message="impl:startProcessResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="soap12InspectionWSSoapSoapBinding"
		type="impl:InspectionWSPortType">
		<wsdlsoap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="startProcess">
			<wsdlsoap12:operation
				soapAction="http://TARS/InspectionWS.tws/startProcess" />
			<wsdl:input name="startProcessRequest">
				<wsdlsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="startProcessResponse">
				<wsdlsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InspectionWS">
		<wsdl:port name="soap12InspectionWSSoap"
			binding="impl:soap12InspectionWSSoapSoapBinding">
			<wsdlsoap12:address
				location="https://RTA-MES-161.systemsltd.local:9443/teamworks/webservices/TARS/InspectionWS.tws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>